$textFont: "Trebuchet MS";
$headerFont: "Luckiest Guy";
$textColor: #FFFFFF;
$linkColor: #FFE205;
$backgroundColor: #58903C;
$containerBackgroundColor: rgba(0, 0, 0, 0.1);

$breakpoints: (
    mobile: 32em,
    desktop: 64em
);